[
  {norm,[
    {default_db,pgsql}
    ,{log_debug,true}
    ,{log_info,true}
    ,{log_error,true}
    ,{models,soil_models}
    ,{dbs,[
      {pgsql,[
	{tablespace,lamazone}
        ,{init,true}
	,{pools,[
	  {pgsql_pool,[
	    {pool_size,[
	      {size,10}
	      ,{max_overflow,20}
	    ]}
	    ,{worker_args,[
	      {hostname,"127.0.0.1"}
	      ,{database,"lamazone"}
	      ,{username,"lamazone"}
	      ,{password,"lamazone"}
	    ]}
	  ]}
	]}
      ]}
      ,{mnesia,[
        {store,ram_copies}
        ,{dir,""}
        ,{init,true}
      ]}
    ]}
  ]}

  ,{soil,[
    {http_port,8080}
    ,{https_port,8443}
  ]}

].
